/*typography*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  outline: 0 none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #fffcd8;
  color: #7f5120;
  font-family: 'Carmela';
  position: relative;
  overflow: hidden;
}

@media (max-width: 1023px) {
  body {
    overflow-y: scroll;
  }
}

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

div#Main {
  width: 6000px;
  height: 1667px;
}

@media (max-width: 1023px) {
  div#Main {
    width: 100%;
    height: 100%;
    padding: 40px;
    clear: both;
  }
}

.mobile_menu {
  display: none;
  color: #26beba;
  font-size: 34px;
  margin-top: 120px;
  float: right;
}

@media (max-width: 1023px) {
  .mobile_menu {
    display: inline-block;
  }
}

.mobile_menu ul {
  background: #7f5120;
  width: 250px;
  display: none;
}

.mobile_menu li {
  border-bottom: 2px solid #fffcd8;
  padding-left: 10px;
}

.mobile_menu a {
  color: #fffcd8;
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #935e25;
}

::-moz-placeholder {
  color: #935e25;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #935e25;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #935e25;
}

.preloader {
  background: #fffcd8;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;
  border: 10px solid #7f5120;
}

.preloader .cont {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -42px;
}

header {
  height: 130px;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  background: #7f5120;
  border-bottom: 31px solid #26beba;
  direction: rtl;
  text-align: center;
}

@media (max-width: 1370px) {
  header {
    height: 105px;
  }
}

header .header_content {
  margin: 0 auto;
}

@media (max-width: 1023px) {
  header .header_content {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  header {
    border-width: 15px;
  }
}

header a {
  color: #fffcd8;
  text-decoration: none;
  font-size: 20px;
}

header a.active span {
  text-decoration: underline;
}

header li {
  display: inline-block;
}

header span {
  margin: 0 4px;
}

header .logo {
  display: inline-block;
}

@media (max-width: 1200px) {
  header .logo {
    width: 250px;
    margin: 0 auto;
  }
}

header .logo a {
  display: inline-block;
  margin-top: 35px;
}

@media (max-width: 1370px) {
  header .logo a {
    margin-top: 10px;
  }
}

@media (max-width: 1200px) {
  header .logo a {
    margin-top: 15px;
  }
}

header .logo img {
  max-width: 100%;
}

header .left-menu {
  margin-top: 28px;
  float: left;
  text-align: right;
  width: calc(100%/2 - 180px);
}

@media (max-width: 1200px) {
  header .left-menu {
    margin-top: 38px;
    width: calc(100%/2 - 125px);
  }
}

@media (max-width: 1023px) {
  header .left-menu {
    display: none;
  }
}

header .right-menu {
  margin-top: 28px;
  float: right;
  text-align: left;
  width: calc(100%/2 - 180px);
}

@media (max-width: 1200px) {
  header .right-menu {
    margin-top: 38px;
    width: calc(100%/2 - 125px);
  }
}

@media (max-width: 1023px) {
  header .right-menu {
    display: none;
  }
}

.legend {
  font-size: 34px;
  display: inline-block;
  position: absolute;
  background: #fffcd8;
  z-index: 1;
  padding: 0 5px;
}

.float_img {
  width: 430px;
  height: auto;
}

@media (max-width: 1370px) {
  .float_img {
    width: 300px;
  }
}

.float_img img {
  max-width: 100%;
}

.title {
  font-weight: bold;
}

.overall {
  width: 960px;
  margin: 0 auto;
  position: relative;
  direction: ltr;
  font-size: 19px;
}

@media (max-width: 1370px) {
  .overall {
    width: 900px;
  }
}

@media (max-width: 1023px) {
  .overall {
    width: 100%;
  }
}

.overall .legend {
  left: 25px;
  top: -18px;
}

@media (max-width: 1023px) {
  .overall .legend {
    left: auto;
    right: 25px;
  }
}

.overall .with_bord {
  border: 3px solid #7f5120;
  padding: 50px;
  width: 680px;
  position: relative;
}

@media (max-width: 1370px) {
  .overall .with_bord {
    padding: 30px;
  }
}

@media (max-width: 1023px) {
  .overall .with_bord {
    width: 100%;
  }
}

.overall .float_img {
  position: absolute;
  right: 0;
  z-index: 2;
}

@media (max-width: 1023px) {
  .overall .float_img {
    position: relative;
    right: auto;
  }
}

.overall.vision_content .float_img {
  top: 85px;
}

@media (max-width: 1370px) {
  .overall.vision_content .float_img {
    top: 110px;
  }
}

@media (max-width: 1023px) {
  .overall.vision_content .float_img {
    top: auto;
  }
}

.overall.yazamim_content .float_img {
  top: 185px;
}

@media (max-width: 1370px) {
  .overall.yazamim_content .float_img {
    top: 110px;
  }
}

@media (max-width: 1200px) {
  .overall.yazamim_content .float_img {
    top: 150px;
  }
}

@media (max-width: 1023px) {
  .overall.yazamim_content .float_img {
    top: auto;
  }
}

@media (max-width: 1023px) {
  .location {
    height: 100vh;
  }
}

.location_content {
  width: 1015px;
}

@media (max-width: 1370px) {
  .location_content {
    width: 920px;
  }
}

@media (max-width: 1023px) {
  .location_content {
    width: 100%;
  }
}

.location_content p:not(:last-child) {
  margin-bottom: 20px;
}

.location_content .text {
  width: 460px;
}

@media (max-width: 1023px) {
  .location_content .text {
    width: 100%;
  }
}

.location_content .float_img {
  top: 40%;
}

@media (max-width: 1023px) {
  .location_content .float_img {
    top: auto;
  }
}

@media (max-width: 1023px) {
  .location_content .with_bord {
    text-align: right;
  }
}

.location_content .with_bord:before {
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../img/locations.png);
  background-size: cover;
  content: '';
  top: -230px;
  right: -90px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 192px;
  height: 250px;
}

@media (max-width: 1370px) {
  .location_content .with_bord:before {
    width: 142px;
    height: 185px;
    top: -161px;
  }
}

@media (max-width: 1023px) {
  .location_content .with_bord:before {
    right: auto;
    left: 0;
  }
}

.location .thumb {
  margin-top: 20px;
}

.location .thumb li {
  margin-left: 0;
  margin-right: 20px;
}

.thumb li {
  display: inline-block;
  margin-left: 20px;
}

.thumb img {
  width: 140px;
  height: 97px;
}

@media (max-width: 1023px) {
  .thumb {
    display: none;
  }
}

.tidings, .project, .hist {
  direction: rtl;
  font-size: 19px;
}

.tidings_content, .project_content, .hist_content {
  width: 1020px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1370px) {
  .tidings_content, .project_content, .hist_content {
    width: 890px;
  }
}

@media (max-width: 1023px) {
  .tidings_content, .project_content, .hist_content {
    width: 100%;
  }
}

.tidings_content .legend, .project_content .legend, .hist_content .legend {
  top: -18px;
  right: 35px;
}

.tidings_content .with_bord, .project_content .with_bord, .hist_content .with_bord {
  width: 690px;
  border: 3px solid #7f5120;
  position: relative;
  padding: 50px;
}

@media (max-width: 1023px) {
  .tidings_content .with_bord, .project_content .with_bord, .hist_content .with_bord {
    width: 100%;
  }
}

.tidings_content .with_bord:before, .project_content .with_bord:before, .hist_content .with_bord:before {
  position: absolute;
  z-index: 1;
  background: #fffcd8;
}

.tidings_content .float_img, .project_content .float_img, .hist_content .float_img {
  position: absolute;
  left: 0px;
  top: 180px;
}

@media (max-width: 1023px) {
  .tidings_content .float_img, .project_content .float_img, .hist_content .float_img {
    position: relative;
    left: auto;
    top: auto;
  }
}

.tidings_content .text, .project_content .text, .hist_content .text {
  width: 490px;
}

@media (max-width: 1023px) {
  .tidings_content .text, .project_content .text, .hist_content .text {
    width: 100%;
  }
}

.tidings_content .text p, .project_content .text p, .hist_content .text p {
  margin-bottom: 25px;
}

@media (max-width: 1370px) {
  .tidings_content .text p:last-of-type, .project_content .text p:last-of-type, .hist_content .text p:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 1023px) {
  .project {
    margin-top: 50px;
    height: 100vh;
  }
}

.project .thumb {
  margin-right: 50px;
  margin-top: 30px;
}

.project_content .with_bord {
  width: 690px;
  border: 3px solid #7f5120;
  position: relative;
  padding: 50px;
}

@media (max-width: 1370px) {
  .project_content .with_bord {
    padding: 30px;
  }
}

@media (max-width: 1023px) {
  .project_content .with_bord {
    width: 100%;
  }
}

.project_content .with_bord:before {
  content: '';
  width: 248px;
  height: 195px;
  background-size: cover;
  background-image: url(../img/project.png);
  background-repeat: no-repeat;
  display: inline-block;
  top: -145px;
  left: -135px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1370px) {
  .project_content .with_bord:before {
    top: -95px;
    width: 211px;
    height: 165px;
  }
}

@media (max-width: 1023px) {
  .project_content .with_bord:before {
    top: -102px;
    width: 158px;
    height: 126px;
    left: 15px;
  }
}

.project_content .float_img {
  position: absolute;
  left: 0px;
  top: 180px;
}

@media (max-width: 1023px) {
  .project_content .float_img {
    position: relative;
    left: auto;
    top: auto;
  }
}

.project_content .float_img img {
  display: block;
}

.project_content .float_img span {
  float: left;
  display: inline-block;
  background: #7f5120;
  color: #fffcd8;
}

@media (max-width: 1023px) {
  .tidings {
    height: 100vh;
  }
}

.tidings .thumb {
  margin-top: 30px;
}

.tidings_content .with_bord {
  width: 690px;
  border: 3px solid #7f5120;
  position: relative;
  padding: 50px;
}

@media (max-width: 1370px) {
  .tidings_content .with_bord {
    padding: 30px;
  }
}

@media (max-width: 1023px) {
  .tidings_content .with_bord {
    width: 100%;
  }
}

.tidings_content .with_bord:before {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../img/tidings.png);
  background-size: cover;
  width: 216px;
  height: 260px;
  top: -180px;
  left: -120px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1370px) {
  .tidings_content .with_bord:before {
    width: 190px;
    height: 216px;
    top: -108px;
  }
}

@media (max-width: 1023px) {
  .tidings_content .with_bord:before {
    width: 111px;
    height: 134px;
    top: -107px;
    left: 21px;
  }
}

.tidings_content .float_img {
  position: absolute;
  left: 0px;
  top: 210px;
}

@media (max-width: 1023px) {
  .tidings_content .float_img {
    position: relative;
    left: auto;
    top: auto;
  }
}

.tidings_content .float_img img {
  display: block;
}

.tidings_content .float_img span {
  float: left;
  display: inline-block;
  background: #7f5120;
  color: #fffcd8;
}

@media (max-width: 1023px) {
  .hist {
    height: 100vh;
  }
}

.hist .thumb {
  margin-top: 30px;
}

.hist_content .with_bord {
  width: 690px;
  border: 3px solid #7f5120;
  position: relative;
  padding: 50px;
  padding-bottom: 130px;
}

@media (max-width: 1370px) {
  .hist_content .with_bord {
    padding: 30px;
  }
}

@media (max-width: 1023px) {
  .hist_content .with_bord {
    width: 100%;
  }
}

.hist_content .with_bord:before {
  content: '';
  top: -180px;
  left: -145px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/history.png);
  width: 224px;
  height: 247px;
}

@media (max-width: 1370px) {
  .hist_content .with_bord:before {
    width: 160px;
    height: 175px;
    top: -108px;
    left: -108px;
  }
}

@media (max-width: 1023px) {
  .hist_content .with_bord:before {
    background-image: url(../img/history_m.png);
    width: 80px;
    height: 125px;
    left: 20px;
  }
}

.hist_content .float_img {
  position: absolute;
  left: 0px;
  top: 145px;
}

@media (max-width: 1023px) {
  .hist_content .float_img {
    position: relative;
    left: auto;
    top: auto;
  }
}

.hist_content .float_img img {
  display: block;
}

.hist_content .float_img span {
  float: left;
  display: inline-block;
  background: #7f5120;
  color: #fffcd8;
}

@media (max-width: 1023px) {
  .plans {
    height: 100vh;
  }
}

.plans_content {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1200px) {
  .plans_content {
    width: 900px;
  }
}

@media (max-width: 1023px) {
  .plans_content {
    width: 100%;
  }
}

.plans_content .legend {
  right: 20px;
  top: -18px;
}

.plans_content .with_bord {
  border: 3px solid #7f5120;
  padding: 35px 25px;
  overflow: hidden;
}

.plans_content .with_bord:before {
  content: '';
  display: inline-block;
  width: 170px;
  height: 237px;
  background-size: cover;
  background-image: url(../img/plans.png);
  background-repeat: no-repeat;
  bottom: -35px;
  left: 50%;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: -85px;
}

@media (max-width: 1370px) {
  .plans_content .with_bord:before {
    width: 125px;
    height: 172px;
    margin-left: -62.5px;
  }
}

@media (max-width: 1023px) {
  .plans_content .with_bord:before {
    background-image: url(../img/plans_m.png);
    width: 75px;
    height: 108px;
    margin-left: auto;
    left: 0;
    bottom: auto;
    top: -100px;
  }
}

.plans_content .plans_group {
  display: inline-block;
  float: left;
  direction: rtl;
}

.plans_content .plans_group li {
  display: inline-block;
  margin-right: 8px;
}

.plans_content .plans_group a {
  font-size: 34px;
  border: 3px solid #7f5120;
  color: #7f5120;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 130px;
}

@media (max-width: 1200px) {
  .plans_content .plans_group a {
    width: 105px;
  }
}

.plans_content .plans_group a:hover, .plans_content .plans_group a:focus {
  background: #7f5120;
  color: #fffcd8;
}

.plans_content .doc_link {
  overflow: hidden;
  direction: rtl;
  display: none;
  margin-bottom: 120px;
}

@media (max-width: 1200px) {
  .plans_content .doc_link {
    margin-bottom: 100px;
  }
}

.plans_content .doc_link.active {
  display: block;
}

.plans_content .doc_link li {
  float: right;
  margin-left: 40px;
  margin-bottom: 75px;
  width: calc(100%/4 - 30px);
}

@media (max-width: 1370px) {
  .plans_content .doc_link li {
    margin-bottom: 25px;
  }
}

.plans_content .doc_link li:nth-of-type(4n) {
  margin-left: 0;
}

.plans_content .doc_link a {
  font-size: 32px;
  display: block;
  border: 4px solid #7f5120;
  color: #7f5120;
  text-align: center;
  text-decoration: none;
  padding: 3px 0;
}

.plans_content .doc_link a:hover, .plans_content .doc_link a:focus {
  background: #7f5120;
  color: #fffcd8;
}

@media (max-width: 1023px) {
  .map {
    height: 100vh;
  }
}

.map .legend {
  right: 20px;
  top: -18px;
}

.map_content {
  position: relative;
  padding: 25px;
  border: 3px solid #7f5120;
  width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1370px) {
  .map_content {
    width: 1000px;
  }
}

@media (max-width: 1200px) {
  .map_content {
    width: 800px;
  }
}

@media (max-width: 1023px) {
  .map_content {
    width: 100%;
  }
}

.map_content:after {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../img/map.png);
  background-size: cover;
  position: absolute;
  width: 263px;
  height: 262px;
  left: -135px;
  bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1370px) {
  .map_content:after {
    width: 215px;
    height: 214px;
    left: -112px;
  }
}

@media (max-width: 1023px) {
  .map_content:after {
    background-image: url(../img/map_m.png);
    width: 117px;
    height: 125px;
    top: 0;
    left: -60px;
    bottom: auto;
  }
}

@media (max-width: 1023px) {
  .map .parent_map {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    width: 100%;
    display: block;
  }
  .map .parent_map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.map iframe {
  height: 700px;
  width: 100%;
}

@media (max-width: 1023px) {
  .vision {
    height: 100vh;
  }
}

.vision_content .with_bord {
  padding-bottom: 0;
}

@media (max-width: 1023px) {
  .vision_content .with_bord {
    text-align: right;
  }
}

.vision_content .with_bord:before {
  content: '';
  display: inline-block;
  width: 248px;
  height: 252px;
  background-image: url(../img/vision.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -210px;
  margin-top: -230px;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1370px) {
  .vision_content .with_bord:before {
    margin-right: -165px;
    margin-top: -180px;
    width: 195px;
    height: 195px;
  }
}

@media (max-width: 1023px) {
  .vision_content .with_bord:before {
    background-image: url(../img/vision_m.png);
    width: 124px;
    height: 127px;
    right: auto;
    left: 20px;
    margin-right: auto;
    margin-top: auto;
    top: -113px;
  }
}

.vision_content .text {
  width: 360px;
}

@media (max-width: 1023px) {
  .vision_content .text {
    width: 100%;
  }
}

.vision_content .text span {
  background: #7f5120;
  color: #fffcd8;
  padding: 5px 7px;
  margin-left: -30px;
  display: inline-block;
}

@media (max-width: 1023px) {
  .yazamim {
    height: 100vh;
  }
}

@media (max-width: 1023px) {
  .yazamim_content .with_bord {
    text-align: right;
  }
}

.yazamim_content .with_bord:before {
  content: '';
  background-repeat: no-repeat;
  background-image: url(../img/yazamim.png);
  background-size: cover;
  display: inline-block;
  position: absolute;
  width: 571px;
  height: 439px;
  top: 0;
  right: 0;
  margin-right: -270px;
  margin-top: -240px;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1370px) {
  .yazamim_content .with_bord:before {
    margin-right: -217px;
    margin-top: -160px;
    width: 425px;
    height: 327px;
  }
}

@media (max-width: 1023px) {
  .yazamim_content .with_bord:before {
    background-image: url(../img/yazamim_m.png);
    width: 164px;
    height: 130px;
    right: auto;
    left: 0;
    margin-right: auto;
    margin-top: auto;
    top: -110px;
  }
}

.yazamim_content .with_bord .text {
  width: 440px;
}

@media (max-width: 1023px) {
  .yazamim_content .with_bord .text {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .contact {
    height: 100vh;
  }
}

.contact_content {
  margin: 0 auto;
  width: 840px;
  border: 3px solid #7f5120;
  position: relative;
  padding: 30px;
}

@media (max-width: 1023px) {
  .contact_content {
    width: 100%;
  }
}

.contact_content:before {
  content: '';
  background-repeat: no-repeat;
  background-image: url(../img/phone.png);
  width: 197px;
  height: 113px;
  position: absolute;
  top: -97px;
  left: -65px;
  display: inline-block;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact_content form {
  direction: rtl;
  overflow: hidden;
  font-size: 23px;
}

.contact_content .legend {
  right: 20px;
  top: -18px;
}

.contact_content div {
  overflow: hidden;
}

.contact_content div input {
  width: calc(100% - 100px);
  display: inline-block;
  color: #7f5120;
  float: left;
  border: none;
  border: 3px solid #7f5120;
  background-color: transparent;
  height: 38px;
  padding: 0 5px;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .contact_content div input {
    margin-bottom: 15px;
  }
}

.contact_content textarea {
  padding-right: 15px;
  margin-top: 30px;
  color: #7f5120;
  resize: vertical;
  width: 100%;
  border: 3px solid #7f5120;
  background-color: transparent;
  height: 160px;
  display: block;
  margin-bottom: 20px;
  font-size: 23px;
}

@media (max-width: 1200px) {
  .contact_content textarea {
    margin-bottom: 15px;
    height: 130px;
    margin-top: 15px;
  }
}

.contact_content [type=submit] {
  background: #7f5120;
  border: none;
  color: #fffcd8;
  float: left;
  width: 365px;
  height: 38px;
}

@media (max-width: 1023px) {
  .stories {
    height: 100vh;
  }
}

.stories_content {
  direction: rtl;
  font-size: 19px;
  width: 800px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1200px) {
  .stories_content {
    width: 650px;
  }
}

@media (max-width: 1023px) {
  .stories_content {
    width: 100%;
  }
}

.stories_content:before {
  content: '';
  background-repeat: no-repeat;
  background-image: url(../img/story.png);
  background-size: cover;
  width: 286px;
  height: 237px;
  position: absolute;
  top: -207px;
  left: -112px;
  display: inline-block;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1370px) {
  .stories_content:before {
    width: 213px;
    height: 180px;
    top: -170px;
  }
}

@media (max-width: 1023px) {
  .stories_content:before {
    width: 162px;
    height: 127px;
  }
}

.stories_content .float_img {
  position: absolute;
  left: -100px;
  top: 50%;
}

@media (max-width: 1023px) {
  .stories_content .float_img {
    position: relative;
    left: auto;
    top: auto;
  }
}

.stories .legend {
  top: -18px;
  right: 20px;
}

.stories .with_bord {
  padding: 50px;
  border: 3px solid #7f5120;
}

@media (max-width: 1370px) {
  .stories .with_bord {
    padding: 30px;
  }
}

.stories .tabs_group {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.stories .tabs_group li {
  display: inline-block;
}

.stories .tabs_group li a {
  color: #26beba;
  text-decoration: none;
}

.stories .tabs_group li a.active {
  background: #26beba;
  color: #fffcd8;
}

.stories .content_tab .tab {
  display: none;
  padding-left: 50%;
}

@media (max-width: 1200px) {
  .stories .content_tab .tab {
    padding-left: 35%;
  }
}

.stories .content_tab .tab.active {
  display: block;
}

.float_img img {
  border: 3px solid #7f5120;
}
